<div class="row">
	<p style="color: grey; font-size: large;">
		A <strong>Swiss-system tournament</strong> is a non-eliminating tournament format which features a set number of rounds of competition, but considerably fewer than in a round-robin tournament. In a Swiss tournament, each competitor (team or individual) does not play every other. Competitors meet one-to-one in each round and are paired using a set of rules designed to ensure that each competitor plays opponents with a similar running score, but not the same opponent more than once. The winner is the competitor with the highest aggregate points earned in all rounds. All competitors play in each round unless there is an odd number of players.<br>
	<br>
	A Swiss system is used for competitions where the number of entrants is considered too large for a full round-robin to be feasible, and eliminating any competitors before the end of the tournament is undesirable.[1] Round-robin pairings are suitable for a small number of competitors and rounds, as most or all players will play each other; the underlying assumption is that the player who has played all possible opponents and ends with the highest score, must be the winner. Knockout, or elimination, pairings rapidly reduces the number of competitors, but may not necessarily result in the best possible competitor winning, as good competitors might have a bad day or eliminate and exhaust each other if they meet in early rounds. Swiss systems intend to provide a clear winner with a limited number of rounds and a potentially unlimited number of opponents. A Swiss system draw should result in a clear winner, without having to play all opponents as in round robin, and without a single bad result terminating participation.	
	<br>
	<br>
	The first round is either drawn at random or seeded according to some prior order, such as rating (in chess) or recent performance. All participants then proceed to the next round in which winners are pitted against winners, losers are pitted against losers, and so on. In subsequent rounds, each competitor faces an opponent with the same, or almost the same, cumulative score. No player is paired up with the same opponent twice. In chess the pairing rules try to ensure that each player plays an equal number of games with white and black, alternate colors in each round being the most preferable, and a particular effort is made not to assign a player the same color three times in a row.
	<br>
	<br>
	In spirit of keeping the ultimate rules of swiss system, the swiss system service on this site was designed such that, the number of rounds is determined by the number of players . So for each number of players the rounds were calculated by log2(N), where N is the number of players.
	</p>
</div>

