<div class="nested-fields">

  <div class="form-group">
    <div class="row update-scores">
      <div class="col-xs-4"> 
        <span style="float: right; margin-right: 10px;"><strong><%= f.object.home_team %></strong></span>
      </div>



      <div class="col-xs-2 score_update">
        <span>
          <%= f.number_field :score_home, min: 0  %>    
        </span>
      </div>
      <div class="col-xs-2 score_update">
        <span>   
          <%= f.number_field :score_away, min: 0 %>       
        </span>
      </div>

      <div class="col-xs-4">
        <p>
          <span style="float: left; margin-left: 10px;"><strong><%= f.object.away_team %></strong></span>
        </p>
      </div>
    </div>

  </div>  
</div>