<div class="nested-fields">

  <div class="form-group">
  	<p style="margin-top:10px;">
    <span><%= link_to_remove_association "Remove this Team", f, class: 'btn btn-danger btn-xs' %></span>
    <span><%= f.text_field :name, :placehoder => "name of the team", :required => true, class: "form-control" %></span>  		

  	</p>

  </div>  



</div>