<div class="nested-fields">

  <div class="form-group">
  	<p style="margin-top:10px;">
    <span><%= link_to_remove_association "Remove this Team/Player", f, class: 'btn btn-danger btn-xs' %></span>
    <span style="font-style: italic;"><%= f.text_field :name,  :placeholder =>"name", :required => true %></span>  		

  	</p>

  </div>  



</div>