

<div class="panel">
  <% @tournaments.each do |tournament| %>
    <%= link_to tournament do  %> 
    	
      <div class="row tournaments">
        <p style="font-size: large;">
					<% unless tournament.image.blank? %>
						<span class="tournament_logo"><%= image_tag tournament.image.url(:small) %></span>
					<% end %>
        	<%= tournament.name %>
        </p>        
      </div>
    <% end %>
  <% end %>
</div>
<div class="row"><%= will_paginate @rounds, :page_links => false   %></div>

