/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body{
	background-color: #fafafa;
}

a, a:link, a:visited{
	text-decoration: none;
	color: white;
}
.pagination{
	float: left;
}
.pagination a, .pagination{
    /* border-radius: 0px; */
    margin-right: 4px;
    padding: 2px 5px;
    color: black;
    background-color: #00BFFF;
}
.input[type=number]{
	width: 80%;
}
.email a{
	color: grey;
}
.tourn-link {
	padding: 10px;
	color: #191970;
	text-decoration: underline;
}
.tourn-link:hover{
	border: 1px solid #ccc;
	color: #1E90FF;
}
.tournaments{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 20px;
	color: #1E90FF;
}
.tournaments:hover{
	box-shadow:  2px 2px 5px 2px #888888;
}

.col-xs-2{
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
}
.col-xs-3{
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
}

.teams_name{ 
	text-align: left;
}
.logs{
	padding-left: 10px;
}
#logo img{
	width: 100px;
	height: 60px;
}
.col-md-5{
	padding: 0;
}
.header-left{
	padding-bottom: 20px; 
	padding-top: 20px;
}
.header-left a{
	color:  #1E90FF;
}
.wrapper{
	background-color: white;
	box-shadow:  1px 1px 2px 1px #888888;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 5px;
}
.row{
	margin: 0;
}
.log-table{
	margin-top: 5%;

}


div.ex1 {
  background-color: lightblue;
  width: 40px;
  overflow-x: scroll;
}


.match{
	border: 1px solid #ccc;
	padding: 1%;
	color: black;
}
.match:hover{
	background-color: #C71585;
	color: white;
}
.home{
	padding-top: 1%;
	padding-left: 0;
	padding-right: 10px;
}
.away{
	padding-top: 1%;
	padding-right: 0;
	padding-left: 10px;
}
.versus{
	background-color: grey;
	color: white;
	border-radius: 4px;
}
.welcome-banner{
	background-color: #F0F8FF;
	margin-bottom: 50px;
	color: #C0C0C0;
	border: 2px solid #C71585;
	border-radius: 4px;
}
.col-md-6{
	padding: 0;
}

.main-menu{
	background-color: #C71585;
	margin-bottom: 2%;
	border-bottom: 1px solid #ccc;
}
.main-menu a{
	color:  white;
	font-size: large; 
}
.main-menu a:hover{
	color:   #191970;
	font-size: large; 
}



#table-pairs{
	background-color: white;
	margin-bottom: 20px;
}
.table-responsive{
	background-color: #fafafa;
	border: 1px solid #ccc;
}

#round_name_field{
	visibility: hidden;
}
.my-form{
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20px;
	padding-top: 20px;
	border: 1px solid #ccc;
	background-color: white;
}


#form-lebel{
	color: #6495ED;
}
#form-header{
	text-align: center;
	color: #708090;
}
.nested-fields{
	background-color: #fafafa;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}
.navbar-default{
	background-color: #C71585;
	border-color: #C71585;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #191970;
}
.register{
	padding-left: 35%;
}

.footer{
	height: 100px;
	background-color: #191970;
	margin-top: 20%;
	text-align: center;
}
#logo a{
	color: white;
}
.search{
	padding-bottom: 20px; 
	padding-top: 20px;
}
.search_field{
	border: 4px solid #1E90FF;
	height: 25px;
	width: 100px;
}
.btn-vs{
	background-color: #C71585;
}
.btn-vs:hover{
	background-color: #C71585;
}
.my_search{
	height: 25px;
}

#team a{
	color: blue;
}
#team a:hover{
	color: skyblue;
}

#team-player a{
	color: #191970;
	text-decoration: underline;
}
#team-player a:hover{
	color: skyblue;
	text-decoration: underline;
}
.player_goals_update{
	margin: 20px;
	background-color: #1E90FF;
}
.goals{
	background-color: #32CD32;
}

.players-info{
	text-align: center;
}
.score_update{
	background-color: grey;
}




#round_pairs_attributes_0_score_home{
	width: 90%;
}
#round_pairs_attributes_0_score_away{
	width: 90%;
}

#round_pairs_attributes_1_score_home{
	width: 90%;
}
#round_pairs_attributes_1_score_away{
	width: 90%;
}


#round_pairs_attributes_2_score_home{
	width: 90%;
}
#round_pairs_attributes_2_score_away{
	width: 90%;
}


#round_pairs_attributes_3_score_home{
	width: 90%;
}
#round_pairs_attributes_3_score_away{
	width: 90%;
}


#round_pairs_attributes_4_score_home{
	width: 90%;
}
#round_pairs_attributes_4_score_away{
	width: 90%;
}


#round_pairs_attributes_5_score_home{
	width: 90%;
}
#round_pairs_attributes_5_score_away{
	width: 90%;
}


#round_pairs_attributes_6_score_home{
	width: 90%;
}
#round_pairs_attributes_6_score_away{
	width: 90%;
}


#round_pairs_attributes_7_score_home{
	width: 90%;
}
#round_pairs_attributes_7_score_away{
	width: 90%;
}


#round_pairs_attributes_8_score_home{
	width: 90%;
}
#round_pairs_attributes_8_score_away{
	width: 90%;
}


#round_pairs_attributes_9_score_home{
	width: 90%;
}
#round_pairs_attributes_9_score_away{
	width: 90%;
}


#round_pairs_attributes_10_score_home{
	width: 90%;
}
#round_pairs_attributes_10_score_away{
	width: 90%;
}


#round_pairs_attributes_11_score_home{
	width: 90%;
}
#round_pairs_attributes_11_score_away{
	width: 90%;
}


#round_pairs_attributes_12_score_home{
	width: 90%;
}
#round_pairs_attributes_12_score_away{
	width: 90%;
}


#round_pairs_attributes_13_score_home{
	width: 90%;
}
#round_pairs_attributes_13_score_away{
	width: 90%;
}


#round_pairs_attributes_14_score_home{
	width: 90%;
}
#round_pairs_attributes_14_score_away{
	width: 90%;
}


#round_pairs_attributes_15_score_home{
	width: 90%;
}
#round_pairs_attributes_15_score_away{
	width: 90%;
}


#round_pairs_attributes_16_score_home{
	width: 90%;
}
#round_pairs_attributes_16_score_away{
	width: 90%;
}


#round_pairs_attributes_17_score_home{
	width: 90%;
}
#round_pairs_attributes_17_score_away{
	width: 90%;
}


#round_pairs_attributes_18_score_home{
	width: 90%;
}
#round_pairs_attributes_18_score_away{
	width: 90%;
}


#round_pairs_attributes_19_score_home{
	width: 90%;
}
#round_pairs_attributes_19_score_away{
	width: 90%;
}


#round_pairs_attributes_20_score_home{
	width: 90%;
}
#round_pairs_attributes_20_score_away{
	width: 90%;
}


#round_pairs_attributes_21_score_home{
	width: 90%;
}
#round_pairs_attributes_21_score_away{
	width: 90%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.tournament_logo img{
	border-radius: 50%;
}
