
.header{
	padding-left: 5%;
	padding-right: 5%;
	background-color: #191970;
	border-bottom: 4px solid #1E90FF;
}

#logo{
	color: white;
	font-family: initial;

}
#register-sign-up{
	float: right;
	margin-top: 3%;
}



