
.header{
	background-color: #191970;
	border-bottom: 4px solid #1E90FF;
}

#logo{
	color: white;
	font-family: initial;

}
#register-sign-up{
	float: right;
	margin-top: 3%;
	color: #1E90FF;
}


#register-sign-up a{
	color: #1E90FF;
}
#register-sign-up a:hover{
	color: white;
}