<p style="color: grey; font-size: large;">
A round robin is a tournament format in which each team participating plays each other team participating an equal number of times. Examples in League of Legends include the group stages of most Premier Leagues. The Champions Group Stage features a round robin in which each team plays each other team in their group in one Best of 2 match. The NA and EU LCS instead feature each team playing each opponent in 4 best-of-1 matches. Generally, scheduling is done such that each team plays an equal number of games on the blue side and the purple side, or a number of games that differs by no more than 1 (if each team will play an odd number of games). The number of games in a round robin with n teams is equal to n(n-1)/2, multiplied by the number of times each team plays each other team.

The primary advantages of a Round Robin tournament are the large number of games for players and spectators, the increased chance that a team that can perform consistently will win, and the fact that all teams in the tournament, even those far from the top, receive a fairly accurate exact ranking (compared to single elimination and elimination-consolation tournaments).
<br>
<br>
The Round Robin on this site is Double Round Robing ,where teams meet home and away just like in English Premier League.
<br>
<br> 
1) Each team has the exact number of home games as the rest of the teams
<br>
<br>
2) The home and away games for each team alternate throughout the tournament with a few teams having to play either home or away games consecutively(at most twice), but still be able to play the exact same home Or away games as the rest, just like in the EPL or Laliga.
<br>
<br>
3) The number of teams for this particular application was limited to on even numbers, e.g 4,6,8,10 and so on.
<br>
<br>
4) The number of rounds will be equal to the number of teams mutiplied by 2 minus 2.
</p>