




<div class="footer">
	<p>
		<span style="color: grey;">Powered by: </span><span style="color: red;">OneMoox @2020</span>
	</p>

	<p>
		<span style="color: grey;">Contact:</span><span style="color: lightgrey;">
      <%= mail_to "onemoox@gmail.com" do %>
        <span style="padding: 5px; background-color: grey; border-radius: 6px; ">
        	<i class="fa fa-envelope-o" aria-hidden="true" target="_blank"></i> Webmail 
        </span>
      <% end %>
		</span>
		<span style="color: lightgrey; margin-left: 10px;">
        <span style="padding: 5px; background-color: grey; border-radius: 6px; ">
        	<i class="fa fa-phone" aria-hidden="true"></i> +260977948551 
        </span>
		</span>
	</p>
</div>